#philosophy
	| Hackdays is a meetup based on the philosophy that:
	ul
		li You're a lot more productive when there's a 
			b time limit
		li When learning to code, the fastest way to learn is to 
			b make something

#nextmeeting
	| Our next meeting is:
	p#time #{nextMeeting}
	| in
	p#location: a(href='http://maps.google.com/maps?q=Courant+Institute,+Mercer+Street,+New+York,+NY&hl=en&sll=37.0625,-95.677068&sspn=38.144864,82.96875&z=15') Courant 201
	| on
	p#subject #{nextTopic}
	p#listserve BRING YOUR LAPTOP!<br>And even if you can't come this week, subscribe to our listserve!

#title Hackdays are 4-6 hour 
	b mini-hackfests
	#description Hackdays are a time to be productive & work on a side-project. If you've never coded anything before, Hackdays is a great place to learn. If you are a programmer, it's a nice place to be productive or try a new framework.

#procons
	#pros 
		b Pros
		ul
			li Learn a new language or framework
			li Talk about techy things
			li Meet people who know techy stuff
			li Make something in a few hours and add it to your 
				b portfolio
			li There may or may not be a presentation on funny cat pictures
	#cons 
		b Cons
		ul: li You have to wear pants

#comments 
	b SOME COMMENTS ON HACKDAYS
	ul
		li "I started going to Hackdays 3 months ago...now I can code Skynet." 
			b - Nate Berkopec
		li "Hackdays is a lot of fun." 
			b - Nabil Hassein
		li "I'm disappointed by the pants rule, but I guess I'll still show up... " 
			b - Jared Wyatt
