<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" charset="utf-8">
		<title>NYU Hackdays</title>
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<%- body %>
	</body>
</html>