!!! 5
html(lang='en')
head
	link(rel='stylesheet', href='/stylesheets/styles.css', type='text/css')
	- if (typeof(stylesheet) != 'undefined')
		!= "<link rel='stylesheet' type='text/css' href='/stylesheets/"+stylesheet+ ".css' />"
	title NYU Hackdays
	script(src='/scripts/jquery/js/jquery-1.6.2.min.js')
	script(src='/scripts/jquery/js/jquery-ui-1.8.14.custom.min.js')
	- $.ready(function() {
		
		})
body
	#dialog
		form(id='')
			input(type='text', name='email')
			input(type='text', name='message')

	#container
		#header
			#logo
				img(src='/images/hackdays.png')
			#navigation
				ul#list
					li: a(href="http://cs.nyu.edu/mailman/listinfo/hackdays") LISTSERVE
					li |
					li: a(href="mailto:h@hurshagrawal") CONTACT
					li |
					li
						a(href="http://www.techatnyu.com")
							img#tech(src='/images/techatnyu.png')
		#main!= body
