!!! 5
html(lang='en')
head
	link(rel='stylesheet', href='/stylesheets/styles.css', type='text/css')
	link(rel='stylesheet', href='/scripts/jquery/css/smoothness/jquery-ui-1.8.14.custom.css', type='text/css')
	- if (typeof(stylesheet) != 'undefined')
		!= "<link rel='stylesheet' type='text/css' href='/stylesheets/"+stylesheet+ ".css' />"
	title NYU Hackdays
	script(src='/scripts/jquery/js/jquery-1.6.2.min.js')
	script(src='/scripts/jquery/js/jquery.validate.min.js')
	script(src='/scripts/jquery/js/jquery-ui-1.8.14.custom.min.js')
	script(src='/scripts/contact-form.js')
	script
		$(document).ready(function() {
			ContactFormJiggyWut();
		});

body
	#contact_dialog
		form#contact_form(method='post', action='/mailer')
			label(for="email") Your E-mail Address:
			input(type='text', id='email', name='email', class='required email')
			label(for="message") Message:
			textarea(id='message', name='message', class='required')
			div#send_button
				button(type='submit') Send
		#contact_status
			
	#container
		#header
			#logo
				img(src='/images/hackdays.png')
			#navigation
				ul#list
					li: a(href="http://cs.nyu.edu/mailman/listinfo/hackdays") LISTSERVE
					li |
					li: a(href="#", onclick="$('#contact_dialog').dialog('open');") CONTACT
					li |
					li
						a(href="http://www.techatnyu.com")
							img#tech(src='/images/techatnyu.png')
		#main!= body
