<html>
<head>
<style>
<!--
 /* Font Definitions */
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	mso-font-charset:78;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:1 134676480 16 0 131072 0;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	mso-font-charset:78;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:1 134676480 16 0 131072 0;}
@font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1073743103 0 0 415 0;}
@font-face
	{font-family:"Helvetica Light Oblique";
	panose-1:2 11 4 3 2 2 2 2 2 4;
	mso-font-charset:0;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-2147483473 1073750090 0 0 1 0;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
a:link, span.MsoHyperlink
	{mso-style-priority:99;
	color:blue;
	mso-themecolor:hyperlink;
	text-decoration:underline;
	text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:purple;
	mso-themecolor:followedhyperlink;
	text-decoration:underline;
	text-underline:single;}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>
</head>

<body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center;mso-pagination:none;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-size:36.0pt;
font-family:Helvetica;mso-bidi-font-family:Helvetica'>NYU <span class=SpellE>Hackdays</span><o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center;mso-pagination:none;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-family:
Helvetica;mso-bidi-font-family:Helvetica'>(<span class=GramE>new</span>, snazzy
website coming soon)<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center;mso-pagination:none;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-size:18.0pt;
font-family:Helvetica;mso-bidi-font-family:Helvetica'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center;mso-pagination:none;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-size:18.0pt;
font-family:Helvetica;mso-bidi-font-family:Helvetica'>Our next meeting is:<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center;mso-pagination:none;
mso-layout-grid-align:none;text-autospace:none'><span style='font-size:18.0pt;
font-family:Helvetica;mso-bidi-font-family:Helvetica'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center;mso-pagination:none;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-size:24.0pt;
font-family:Helvetica;mso-bidi-font-family:Helvetica'>Saturday, 7/9&nbsp;</span></b><b><span
style='font-family:Helvetica;mso-bidi-font-family:Helvetica'>at</span></b><b><span
style='font-size:24.0pt;font-family:Helvetica;mso-bidi-font-family:Helvetica'>&nbsp;2pm&nbsp;</span></b><b><span
style='font-family:Helvetica;mso-bidi-font-family:Helvetica'>in&nbsp;<a
href="http://maps.google.com/maps?q=Courant+Institute,+Mercer+Street,+New+York,+NY&amp;hl=en&amp;sll=37.0625,-95.677068&amp;sspn=38.144864,82.96875&amp;z=15"><span
style='font-size:24.0pt;color:#1C4197;text-decoration:none;text-underline:none'>Courant
201</span></a></span></b><span style='font-family:Helvetica;mso-bidi-font-family:
Helvetica'><o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center;mso-pagination:none;
mso-layout-grid-align:none;text-autospace:none'><span style='font-family:Helvetica;
mso-bidi-font-family:Helvetica'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:115%;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span class=SpellE><span style='font-size:16.0pt;
line-height:115%;font-family:Helvetica;mso-bidi-font-family:Helvetica'>Hackdays</span></span><span
style='font-size:16.0pt;line-height:115%;font-family:Helvetica;mso-bidi-font-family:
Helvetica'> is a club based on the philosophy that:<o:p></o:p></span></p>

<p class=MsoNormal style='text-indent:.5in;line-height:115%;mso-pagination:
none;mso-layout-grid-align:none;text-autospace:none'><span style='font-size:
16.0pt;line-height:115%;font-family:Helvetica;mso-bidi-font-family:Helvetica'>a)
You're a lot more productive when there's a&nbsp;<b>time limit</b><o:p></o:p></span></p>

<p class=MsoNormal style='text-indent:.5in;line-height:115%;mso-pagination:
none;mso-layout-grid-align:none;text-autospace:none'><span style='font-size:
16.0pt;line-height:115%;font-family:Helvetica;mso-bidi-font-family:Helvetica'>b)
When learning to code, the fastest way to learn is to<b>&nbsp;make stuff.</b><o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center;mso-pagination:none;
mso-layout-grid-align:none;text-autospace:none'><span style='font-family:Helvetica;
mso-bidi-font-family:Helvetica'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center;line-height:150%;
mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
class=SpellE><span style='font-size:18.0pt;line-height:150%;font-family:"Helvetica Light Oblique";
mso-bidi-font-family:"Helvetica Light Oblique"'>Hackdays</span></span><span
style='font-size:18.0pt;line-height:150%;font-family:"Helvetica Light Oblique";
mso-bidi-font-family:"Helvetica Light Oblique"'> are 4-6 hour mini-<span
class=SpellE>hackfests</span><o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center;line-height:115%;
mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
style='font-size:14.0pt;line-height:115%;font-family:Helvetica;mso-bidi-font-family:
Helvetica'>I</span><span style='font-size:14.0pt;line-height:115%;font-family:
Helvetica;mso-bidi-font-family:"Helvetica Light Oblique"'>f you’re <b
style='mso-bidi-font-weight:normal'><u>a full-time or part-time student</u></b>,
<span class=SpellE>Hackdays</span> are a </span><span style='font-size:14.0pt;
line-height:115%;font-family:Helvetica;mso-bidi-font-family:Helvetica'>time to
be productive + work on a side-project. If you've never coded anything before, <span
class=SpellE>Hackdays</span> is a great place to learn. If you are a
programmer, it's a nice place to be productive or try a new framework.<o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center;mso-pagination:none;
mso-layout-grid-align:none;text-autospace:none'><span style='font-family:Helvetica;
mso-bidi-font-family:Helvetica'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-indent:.5in;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:24.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'>Pros?</span></b><span style='font-family:Helvetica;
mso-bidi-font-family:Helvetica'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'>- Learn a new language/framework!<o:p></o:p></span></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'>- <span class=SpellE>Tak</span> about TECHY
things<o:p></o:p></span></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'>- Meet people who know techy stuff<o:p></o:p></span></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'>- Make something in <span class=GramE>an</span>
few hours to add to your&nbsp;<b>portfolio</b>!<o:p></o:p></span></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'>- There may or may not be a presentation on
funny cat pictures<o:p></o:p></span></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-indent:.5in;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'>Cons?</span></b><span style='font-size:14.0pt;
font-family:Helvetica;mso-bidi-font-family:Helvetica'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'>- Have to wear pants (sorry, Jared)<o:p></o:p></span></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'>- There may or may not be a presentation on
funny cat pictures (cross-listed from Pros, by request...)<o:p></o:p></span></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><u><span style='font-size:14.0pt;font-family:"Helvetica Light Oblique";
mso-bidi-font-family:"Helvetica Light Oblique"'>Comments on <span class=SpellE>Hackdays</span>!</span></u><u><span
style='font-size:14.0pt;font-family:Helvetica;mso-bidi-font-family:Helvetica'><o:p></o:p></span></u></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'>&quot;I started going to <span class=SpellE>Hackdays</span>
3 months ago...now I can code <span class=SpellE>Skynet</span>&quot; - <b
style='mso-bidi-font-weight:normal'>Nate <span class=SpellE>Berkopec</span><o:p></o:p></b></span></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'>&quot;<span class=SpellE>Hackdays</span> is a
lot of fun&quot; - <b style='mso-bidi-font-weight:normal'>Nabil <span
class=SpellE>Hassein</span></b><o:p></o:p></span></p>

<p class=MsoNormal style='mso-pagination:none;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt;font-family:Helvetica;
mso-bidi-font-family:Helvetica'>&quot;I'm&nbsp;disappointed by the pants rule,
but I guess I'll still show up... &quot; - <b style='mso-bidi-font-weight:normal'>Jared
Wyatt</b><o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center;mso-pagination:none;
mso-layout-grid-align:none;text-autospace:none'><span style='font-family:Helvetica;
mso-bidi-font-family:Helvetica'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center;mso-pagination:none;
mso-layout-grid-align:none;text-autospace:none'><span style='font-size:24.0pt;
font-family:Helvetica;mso-bidi-font-family:Helvetica'>And even if you can't
come this week,&nbsp;<b>subscribe to our <span class=SpellE>listserve</span> <a
href="http://cs.nyu.edu/mailman/listinfo/hackdays"><span style='color:#1C4197;
font-weight:normal;text-decoration:none;text-underline:none'>here</span></a>. </b></span><span
style='font-size:18.0pt;font-family:Helvetica;mso-bidi-font-family:Helvetica;
mso-bidi-font-weight:bold'>Contact Hursh at <a href="mailto:h@hurshagrawal.com">h@hurshagrawal.com</a>
if you have any questions, comment, musings, or funny cat pictures!</span></p>

<p class=MsoNormal align=center style='text-align:center'><o:p>&nbsp;</o:p></p>

</div>

</body>

</html>
