<div id="header">
	<div id="logo">
		NYU Hackdays
	</div>
	<div id="top">
		Our next meeting is:
	</div>
	<div id="time">
		Saturday, 7/9 at 2pm
	</div>
	<div id="location">
		<a href='http://maps.google.com/maps?q=Courant+Institute,+Mercer+Street,+New+York,+NY&hl=en&sll=37.0625,-95.677068&sspn=38.144864,82.96875&z=15'>in Courant 201</a>
	</div>
</div>
<div id="middle">
	Hackdays is a student club based on the philosophy that:<br>
	  a) You're a lot more productive when there's a <b>time limit</b>.<br>
	  b) When learning to code, the fastest way to learn is to <b>make stuff</b>.
	<div class="title">Hackdays are 4-6 hour mini-hackfests</div>
	If you're a <u>full-time or part-time student</u>, Hackdays is time to be productive + work on a side-project. If you've never coded anything before, Hackdays is a great place to learn. If you are a programmer, it's a nice place to be productive or try a new framework.
	<div id="procons">
		<div id="pros">Pros?</div>
		<ul>
			<li>Learn a new language/framework!</li>
			<li>Talk about techy things!</li>
			<li>Meet people who know techy stuff</li>
			<li>Make something ina  few hours to add to your <b>portfolio</b>!</li>
			<li>There may or may not be a presentation on funny cat pictures</li>
		</ul>
		<div id="cons">Cons?</div>
		<ul>
			<li>Have to wear pants</li>
		</ul>
	</div>
	<div id="comments">
		<div class="title">Comments on Hackdays!</div>
		<ul>
			<li>"I started going to Hackdays 3 months ago...now I can code Skynet" - Nate Berkopec!</li>
			<li>"Hackdays is a lot of fun" - Nabil Hassein</li>
			<li>"I'm disappointed by the pants rule, but I guess I'll still show up... " - Jared Wyatt</li>
		</ul>	
	</div>
</div>
<div id="contact">
	And even if you can't come this week, subscribe to our listserve at <a href="http://cs.nyu.edu/mailman/listinfo/hackdays">here</a>. Contact Hursh at h@hurshagrawal.com if you have any questions, comments, musings, or funny pictures of cats!
</div>
